/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.section-heading, body header > h3, body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid caption {
  margin-bottom: 0.4em;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em; }

.form-element-size, body input[type="text"], body input[type="tel"], body textarea, body select, body #gender-selector {
  width: 18em;
  margin: 0 auto 0.8em auto;
  padding: 0.6em;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  font-size: 16px;
  font-family: Georgia, Verdana, sans-serif;
  background-color: #F0F0F0; }
  body input[type="text"], body input[type="tel"], body textarea, body select {
    display: block;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    body input[type="text"]:focus, body input[type="tel"]:focus, body textarea:focus, body select:focus {
      border-color: #FF9960; }
  body #gender-selector {
    text-align: center; }
  body #container > header {
    position: relative;
    width: 100%;
    background-color: #424242;
    padding: 1em 0;
    -webkit-box-shadow: 0px 5px 5px #000;
    -moz-box-shadow: 0px 5px 5px #000;
    box-shadow: 0px 5px 5px #000;
    z-index: 100; }
    body #container > header h1 {
      text-align: center;
      font-size: 1.8em;
      letter-spacing: 0.1em;
      color: #fff;
      cursor: default;
      -webkit-text-stroke: 1px #000;
      text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000; }
  body #container #main-section-wrapper {
    width: 100%; }
    body #container #main-section-wrapper > header {
      position: relative;
      width: 100%;
      z-index: 1; }
      body #container #main-section-wrapper > header > nav {
        width: 100%;
        padding: 0.8em 0 0.6em;
        text-align: center;
        background-color: #C9E2FF;
        border-bottom: 1px solid #000;
        margin-bottom: 1em; }
        body #container #main-section-wrapper > header > nav button {
          background-color: #fff;
          box-shadow: none;
          padding: 0.6em 0.8em;
          -webkit-transition: all 400ms ease;
          -moz-transition: all 400ms ease;
          -o-transition: all 400ms ease;
          transition: all 400ms ease;
          border: 1px solid #000;
          font-weight: bold; }
          body #container #main-section-wrapper > header > nav button:hover {
            background-color: #FF9960;
            border-color: #FF9960;
            cursor: pointer; }
    body #container #main-section-wrapper #search-section {
      width: 100%; }
      body #container #main-section-wrapper #search-section #search-filter-panel {
        float: left;
        width: 20%;
        margin: 0 5% 0 1%;
        padding: 1em 2%;
        min-width: 18em;
        background-color: #FFB78F;
        /*@include border-radius(15px);
          @include box-shadow(1px, 1px, 5px, #000);*/ }
      body #container #main-section-wrapper #search-section #search-results-panel {
        float: left;
        width: 60%;
        padding: 0 5%;
        border-left: 1px solid #000;
        min-height: 300px; }
        body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid {
          border-collapse: collapse;
          border: 1px solid #000; }
          body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid td, body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid th {
            padding: 0.8em 1em;
            border-left: 1px solid #000;
            border-right: 1px solid #000; }
          body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid tbody tr {
            /*                &:nth-child(even) {
                                  background-color: #008B8B;
                                }*/ }
            body #container #main-section-wrapper #search-section #search-results-panel table#search-results-grid tbody tr:nth-child(odd) {
              background-color: #DAE3ED; }
    body #container #main-section-wrapper #add-edit-form {
      display: block;
      width: 18em;
      margin: 0 auto;
      text-align: center; }
      body #container #main-section-wrapper #add-edit-form textarea {
        max-width: 18em; }
